################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Papelaria/.vs/Papelaria/DesignTimeBuild
/Papelaria/.vs/Papelaria/v17/TestStore/0
/Papelaria/.vs/Papelaria/v17
